<div class=" col-md-3 orderFrame">
    <div class="order">
        <span>Замовлення<span class="num1">0</span></span>
        <button type="button" class="btn btn-link cl">Очистити взамовлення</button>
    </div>
    <div class="pizzaOrder">

    </div>
    <div class="summ">
        <div class="pay">Cума замовлення<span class="money"><span class="c">654</span>грн</span></div>
        <a href="#" class="btn btn-primary ord">Замовити</a>
    </div>

</div>


