.logo{
    position: fixed;
    top: 0;
    left:10px;
    z-index: 99;
    width: 90px;
    height: 100px;
    font-size: 19px;
    padding: -70px;
    padding-top:2px;
    background-color: #a660d8;
    margin-left:10px;
    text-align: center;
}
.log{
    position: fixed;
    left:20px;
    bottom:0;
    z-index: 99;
}
img{
  margin-bottom: -6px;
}

.title-2-down{
    border-top:dotted;

}

img {
    max-width: 250px;
}

.downLogo{
    padding:5px;
    width: 90px;
    height:115px;
    background-color: #a660d8;
    color:white;
    text-align:center;
}

img.upperdisc{
    transform: scaleY(-1);
    position: fixed;
    margin-left:-45px;
    margin-top:-4px;
}
.select {
    padding: 10px;
    margin:10px;
    margin-left: 18%;
    margin-right:40%;
    border:none;
    background-color: rgba(232, 154, 255, 0.58);
    border-radius: 30%;
}

.chose{
    margin-top:110px;
    margin-left:30%;
}
.num{
    width: 25px;
    font-size:11px;
    background-color: orange;
    border-radius: 100%;
    padding: 14px;
    margin:7px;
    text-align:center;
    color:white;
}

.num1{
    width: 25px;
    font-size:11px;
    background-color: orange;
    border-radius: 100%;
    padding: 7px;
    margin:7px;
    text-align:center;
    color:white;
}
.btn-link {
    color:white;

}
.order {
    background-color: white;
}

.piz {
    border-top-color: aliceblue;
    border: groove;
}

.login {
    float: right;
    margin: 5px;
    margin-top:-5px;
    background-color: blue;
}

.top-row{
    padding-top:10px;
    height: 50px;
    border-bottom: groove;
}

.down-row{
    padding-top:10px;
    height: 50px;
}

.orderFrame {
    position: fixed!important;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 35px;
    margin-left: 20px;
    padding-right: 0!important;
    padding-left: 0!important;
    flex-direction: column;
    height: 100%;
    background: #fff;
    z-index: 1000;
    overflow-y: scroll;
}

.upFrame {
    width:75%;
    margin-bottom: 30px;
    padding-bottom: 15px;
    padding-left:10%;
    position: fixed;
    right: 0;
    background-color: rgba(139, 128, 227, 0.68);
    height: 100px;
    color: white;
    z-index: 100;
}

.mainFrame {
    background-color: rgba(227, 210, 226, 0.68);
}

.downFrame {
    bottom: 20px;
    left: 20px;
    height: 70px;
    width: 75%;
    background-color: rgba(178, 114, 216, 0.52);
}
.downFrame p{
    text-align: center;
    color:white;
}

.number{
    font-size:20px;
    margin:20px;
}
.time{
    margin:10px;
}

.order{
    font-size:16px;
    margin:5px;
    border-bottom: groove;
    height:60px;
}
.cl{
    margin-bottom: 10px;
    float:right;
    color:black;
}

.pizza-order{
background-color: rgba(216, 175, 205, 0.52);
    height:450px;
    margin-top:-5px;
}
.summ{
    height:100px;
    position: fixed;
    right: 0;
    bottom: 0;
    border-top: groove;
    cont-sizing:content-box;
}

.ord{
    width:250px;
    height:40px;
    margin:30px;
    margin-top:20px;
   padding:10px;
    font-size:16px;
}

.pay{
    margin-top:5px;
}
.money{
    float:right;
    margin-right:30px;
}

.button{
    width: 20%;
    height: 37px;
    background-color: blue;
    font-family:fantasy;
    color: white;
}


.buttonminus{
    width: 40px;
    border-radius: 100%;
    padding: 10%;
    text-align:center;
    border:10px;
    color:white;
    background-color: rgba(226, 37, 19, 0.34);
}

.buttonplus{
    width: 40px;
    border-radius: 100%;
    padding: 10%;
    text-align:center;
    border:10px;
    color:white;
    background-color: green;
}


.bought{
    padding:5px;
    display:	inline-block;
    box-shadow: 0 0 3px gray;
}
.delete{
    width: 35px;
    height: 35px;
    display:	inline-block;
    background-color: red;
    color: white;
    margin:2px;
    margin-right: 10px;
}
.text1{
    margin-left: 10px;
    background-color: white;
    color:black;
    float: left;
    width: 75%;
    height: 30px;
}
.prod{
    background-color: white;
    height: 30px;
    margin: 10px;
    border: none;
}
.count{
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    text-align:center;
}
.a1{
    display:	inline-block;
    background-color: white;
    margin-right:150px;
    margin-left:150px;
}
.select{
    background-color: white;
    font-size:11px;
    width: 80px;
    padding:8px;
    margin: 5px;
}
.num{
    width: 25px;
    font-size:9px;
    background-color: orange;
    border-radius: 100%;
    padding: 2%;
    margin:5px;
    text-align:center;
    color:white;
}
.lines{
    margin-top:15px;
    margin-bottom: 10px;
    border-bottom: groove;
}
.text2{
    margin-left: 10px;
    background-color: white;
    font-size:22px;
    font-style: italic;
    font-weight: bold;
}
.oneItem{
    background-color: white;
}

.listOfItems{
    background-color: white;
}

.notBought{
    width: 20%;
    height: 35px;
    margin:5px;
    text-align:center;
    float: inherit;
}


.ord{
    margin: 5px;
    padding : 5px;
}

.buyIT{
    background-color: white;
    padding:8px;
    margin: 5px;
}

.nameP{

}